header {
  height: 70px;
}

.header-wrapper{
  display: flex;
  justify-content: space-between;
  max-width: 1170px;
  margin: 0 auto;
  height: 100%;
  align-items: center;
}

.logo{
  height: 30px;
  width: auto;
}

.nav-bar {
  display: flex;
  list-style-type: none;
}

.nav-bar-responsive{
  display: none;
}

.nav-bar-item {
  margin-left: 66px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #6E7275;
}

.overlay, .hamburger, .responsive-off, .menu-off{
  display: none;
}

.hamburger-menu {
  display: none;
}

@media screen and (max-width: 1170px) {
  .header-wrapper{
    width: 100%;
    padding: 0 24px;
    height: 100%;
  }
}

@media screen and (max-width: 720px) {

  .nav-bar {
    display: none;
  }

  .overlay-off{
    display: none;
  }

  .overlay{
    display: block;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: rgba(0,0,0,0.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 30;
  }

  .nav-bar-item {
    margin-left: 10px;
    line-height: 50px;
    color: #6E7275;
  }

  .menu-off{
    display: inline;
  }

  .nav-bar-responsive{
    display: flex;
    list-style-type: none;
    position: absolute;
    top: 70px;
    right: 24px;
    padding-top: 10px;
    padding-right: 10px;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    z-index: 31;
  }
  
  .responsive-off{
    display: none;
  }
  
  .hamburger{
    width: 40px;
    height: 30px;
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    z-index: 378;
  }

  .hamburger img{
    width: 24px;
  }

  .menu-off{
    display: none;
  }

  .hamburger-menu {
    border-radius: 10px;
    background-color: white;
    width: 40px;
    height: 30px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    z-index: 34;
    justify-content: center;
  }
  
  .hamburger-menu div{
    margin: 0 auto;
    display: inline-block;
    background-color: black;
    height: 2px;
    width: 24px;
    z-index: 34;
  }
}