header {
  height: 70px;
}

.header-wrapper{
  display: flex;
  justify-content: space-between;
  max-width: 1170px;
  margin: 0 auto;
  height: 100%;
  align-items: center;
}

.logo{
  height: 30px;
  width: auto;
}

#nav-bar {
  display: flex;
  list-style-type: none;
}

.nav-bar-item {
  margin-left: 66px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #6E7275;
}

#menu-off{
  display: none;
}

@media screen and (max-width: 1170px) {
  .header-wrapper{
    width: 100%;
    padding: 0 24px;
    height: 100%;
  }
}

@media screen and (max-width: 720px) {

  #nav-bar {
    display: none;
  }

  .nav-bar-item {
    margin-left: 10px;
    line-height: 50px;
    color: #6E7275;
  }

  #menu-off{
    display: inline;
  }

  #nav-bar-responsive{
    display: flex;
    list-style-type: none;
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 10px;
    padding-right: 10px;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
  }

}