.apps {
  height: 475px;
  background-color: #EFF8FF;
  align-items: center;
}

.apps-wrapper{
  margin: 0 auto;
  max-width: 1170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.apps-info-title{
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;

  color: #293145;
}

.apps-info-description {
  max-width: 444px;
  margin-top: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #6E7275;
}

.apps-info-buttons{
  margin-top: 35px;
}

.apps-button {
  background-color: transparent;
  border: none;
  margin-right: 28px;
}

@media screen and (max-width: 1170px) {
  .apps-wrapper{
    padding: 0 24px;
  }
}

@media screen and (max-width: 940px) {
  .container-img{
    display: none;
  }

  .apps-wrapper{
    justify-content: center;
    margin: 0 auto;
    padding: 0 24px;
    width: 100%;
    text-align: center;
  }

  .apps-info-description {
    max-width: 444px;
    margin: 24px auto 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #6E7275;
  }

  .apps-button {
    margin-right: 0px;
  }

}

